Source/RuntimeBusinessLogic/Web References/ZetaUploader/ZetaUploaderCommunication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://zetauploader.zeta-software.de/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://zetauploader.zeta-software.de/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service to send large files via e-mail by uploading files to the zeta server and generating an e-mail message with the appropriate download hyperlink.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://zetauploader.zeta-software.de/webservices/">
      <s:element name="SendFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="information" type="tns:ZetaUploaderCommunicationClientTransferInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZetaUploaderCommunicationClientTransferInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailReceiverAddresses" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderFromName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderFromAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderReplyToName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderReplyToAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPasswordProtected" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DoesExpire" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendFileResult" type="tns:ZetaUploaderCommunicationClientTransferResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZetaUploaderCommunicationClientTransferResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DownloadUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DownloadUrlExpirationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendFile2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="information" type="tns:ZetaUploaderCommunicationClientTransferInformation2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZetaUploaderCommunicationClientTransferInformation2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailReceiverAddresses" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderFromName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderFromAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderReplyToName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailSenderReplyToAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPasswordProtected" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DoesExpire" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UserStates" type="tns:ArrayOfZulPair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZulPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZulPair" type="tns:ZulPair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZulPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendFile2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendFile2Result" type="tns:ZetaUploaderCommunicationClientTransferResult2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZetaUploaderCommunicationClientTransferResult2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DownloadUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DownloadUrlExpirationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UserStates" type="tns:ArrayOfZulPair" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendFileSoapIn">
    <wsdl:part name="parameters" element="tns:SendFile" />
  </wsdl:message>
  <wsdl:message name="SendFileSoapOut">
    <wsdl:part name="parameters" element="tns:SendFileResponse" />
  </wsdl:message>
  <wsdl:message name="SendFile2SoapIn">
    <wsdl:part name="parameters" element="tns:SendFile2" />
  </wsdl:message>
  <wsdl:message name="SendFile2SoapOut">
    <wsdl:part name="parameters" element="tns:SendFile2Response" />
  </wsdl:message>
  <wsdl:portType name="ZetaUploaderCommunicationSoap">
    <wsdl:operation name="SendFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a file through the Zeta Uploader service.</wsdl:documentation>
      <wsdl:input message="tns:SendFileSoapIn" />
      <wsdl:output message="tns:SendFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFile2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a file through the Zeta Uploader service.</wsdl:documentation>
      <wsdl:input message="tns:SendFile2SoapIn" />
      <wsdl:output message="tns:SendFile2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZetaUploaderCommunicationSoap" type="tns:ZetaUploaderCommunicationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFile">
      <soap:operation soapAction="http://zetauploader.zeta-software.de/webservices/SendFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFile2">
      <soap:operation soapAction="http://zetauploader.zeta-software.de/webservices/SendFile2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZetaUploaderCommunicationSoap12" type="tns:ZetaUploaderCommunicationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFile">
      <soap12:operation soapAction="http://zetauploader.zeta-software.de/webservices/SendFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFile2">
      <soap12:operation soapAction="http://zetauploader.zeta-software.de/webservices/SendFile2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZetaUploaderCommunication">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service to send large files via e-mail by uploading files to the zeta server and generating an e-mail message with the appropriate download hyperlink.</wsdl:documentation>
    <wsdl:port name="ZetaUploaderCommunicationSoap" binding="tns:ZetaUploaderCommunicationSoap">
      <soap:address location="https://www.zeta-uploader.com/WebServices/ZetaUploaderCommunication.asmx" />
    </wsdl:port>
    <wsdl:port name="ZetaUploaderCommunicationSoap12" binding="tns:ZetaUploaderCommunicationSoap12">
      <soap12:address location="https://www.zeta-uploader.com/WebServices/ZetaUploaderCommunication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>