Source/RuntimeBusinessLogic/Web References/UpdateChecker/UpdateCheckerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.zeta-resource-editor.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.zeta-resource-editor.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.zeta-resource-editor.com/">
      <s:element name="IsUpdateAvailable2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="info" type="tns:UpdateCheckInfo2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateCheckInfo2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VersionDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="VersionNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Culture" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsUpdateAvailable2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUpdateAvailable2Result" type="tns:UpdatePresentResult2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdatePresentResult2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsPresent" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadWebsiteUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DownloadUpdate2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="info" type="tns:UpdateCheckInfo2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadUpdate2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadUpdate2Result" type="tns:UpdateInformationResult2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateInformationResult2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPresent" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternativeFallbackDownloadUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsUpdateAvailable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="assemblyVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUpdateAvailableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsUpdateAvailableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsUpdateAvailable2SoapIn">
    <wsdl:part name="parameters" element="tns:IsUpdateAvailable2" />
  </wsdl:message>
  <wsdl:message name="IsUpdateAvailable2SoapOut">
    <wsdl:part name="parameters" element="tns:IsUpdateAvailable2Response" />
  </wsdl:message>
  <wsdl:message name="DownloadUpdate2SoapIn">
    <wsdl:part name="parameters" element="tns:DownloadUpdate2" />
  </wsdl:message>
  <wsdl:message name="DownloadUpdate2SoapOut">
    <wsdl:part name="parameters" element="tns:DownloadUpdate2Response" />
  </wsdl:message>
  <wsdl:message name="IsUpdateAvailableSoapIn">
    <wsdl:part name="parameters" element="tns:IsUpdateAvailable" />
  </wsdl:message>
  <wsdl:message name="IsUpdateAvailableSoapOut">
    <wsdl:part name="parameters" element="tns:IsUpdateAvailableResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdateCheckerServiceSoap">
    <wsdl:operation name="IsUpdateAvailable2">
      <wsdl:input message="tns:IsUpdateAvailable2SoapIn" />
      <wsdl:output message="tns:IsUpdateAvailable2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadUpdate2">
      <wsdl:input message="tns:DownloadUpdate2SoapIn" />
      <wsdl:output message="tns:DownloadUpdate2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUpdateAvailable">
      <wsdl:input message="tns:IsUpdateAvailableSoapIn" />
      <wsdl:output message="tns:IsUpdateAvailableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateCheckerServiceSoap" type="tns:UpdateCheckerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUpdateAvailable2">
      <soap:operation soapAction="https://www.zeta-resource-editor.com/IsUpdateAvailable2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadUpdate2">
      <soap:operation soapAction="https://www.zeta-resource-editor.com/DownloadUpdate2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUpdateAvailable">
      <soap:operation soapAction="https://www.zeta-resource-editor.com/IsUpdateAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateCheckerServiceSoap12" type="tns:UpdateCheckerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUpdateAvailable2">
      <soap12:operation soapAction="https://www.zeta-resource-editor.com/IsUpdateAvailable2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadUpdate2">
      <soap12:operation soapAction="https://www.zeta-resource-editor.com/DownloadUpdate2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUpdateAvailable">
      <soap12:operation soapAction="https://www.zeta-resource-editor.com/IsUpdateAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateCheckerService">
    <wsdl:port name="UpdateCheckerServiceSoap" binding="tns:UpdateCheckerServiceSoap">
      <soap:address location="https://www.zeta-resource-editor.com/backend/UpdateCheckerService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateCheckerServiceSoap12" binding="tns:UpdateCheckerServiceSoap12">
      <soap12:address location="https://www.zeta-resource-editor.com/backend/UpdateCheckerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>