Source/RuntimeBusinessLogic/Web References/TranslationService/TranslationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.zeta-resource-editor.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.zeta-resource-editor.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.zeta-resource-editor.com/">
      <s:element name="GetAllSourceTranslationModes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSourceTranslationModesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSourceTranslationModesResult" type="tns:ArrayOfTranslationMode3" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTranslationMode3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TranslationMode3" type="tns:TranslationMode3" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TranslationMode3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllDestinationTranslationModes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDestinationTranslationModesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDestinationTranslationModesResult" type="tns:ArrayOfTranslationMode3" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelfTranslationInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetSelfTranslationInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSelfTranslationInformationResult" type="tns:SelfTranslationInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelfTranslationInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GoogleUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GoogleRefererUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParseRegexPattern" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HttpPostData" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSourceTranslationModesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSourceTranslationModes" />
  </wsdl:message>
  <wsdl:message name="GetAllSourceTranslationModesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSourceTranslationModesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDestinationTranslationModesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDestinationTranslationModes" />
  </wsdl:message>
  <wsdl:message name="GetAllDestinationTranslationModesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDestinationTranslationModesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelfTranslationInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelfTranslationInformation" />
  </wsdl:message>
  <wsdl:message name="GetSelfTranslationInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelfTranslationInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="TranslationServiceSoap">
    <wsdl:operation name="GetAllSourceTranslationModes">
      <wsdl:input message="tns:GetAllSourceTranslationModesSoapIn" />
      <wsdl:output message="tns:GetAllSourceTranslationModesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDestinationTranslationModes">
      <wsdl:input message="tns:GetAllDestinationTranslationModesSoapIn" />
      <wsdl:output message="tns:GetAllDestinationTranslationModesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfTranslationInformation">
      <wsdl:input message="tns:GetSelfTranslationInformationSoapIn" />
      <wsdl:output message="tns:GetSelfTranslationInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TranslationServiceSoap" type="tns:TranslationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSourceTranslationModes">
      <soap:operation soapAction="http://www.zeta-resource-editor.com/GetAllSourceTranslationModes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDestinationTranslationModes">
      <soap:operation soapAction="http://www.zeta-resource-editor.com/GetAllDestinationTranslationModes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfTranslationInformation">
      <soap:operation soapAction="http://www.zeta-resource-editor.com/GetSelfTranslationInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationServiceSoap12" type="tns:TranslationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSourceTranslationModes">
      <soap12:operation soapAction="http://www.zeta-resource-editor.com/GetAllSourceTranslationModes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDestinationTranslationModes">
      <soap12:operation soapAction="http://www.zeta-resource-editor.com/GetAllDestinationTranslationModes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfTranslationInformation">
      <soap12:operation soapAction="http://www.zeta-resource-editor.com/GetSelfTranslationInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranslationService">
    <wsdl:port name="TranslationServiceSoap" binding="tns:TranslationServiceSoap">
      <soap:address location="http://www.zeta-resource-editor.com/backend/TranslationService.asmx" />
    </wsdl:port>
    <wsdl:port name="TranslationServiceSoap12" binding="tns:TranslationServiceSoap12">
      <soap12:address location="http://www.zeta-resource-editor.com/backend/TranslationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>